* {
    margin: 10px;
    background-color: rgb(224, 111, 130);
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;

}



.id fundo{
    margin-left: 150px;
    padding-top: 100px;

}